In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [2]:
path_flag = 0

In [3]:
if path_flag == 0:
    # A: 使用时间参数自动获取路径名
    from datetime import datetime

    today = datetime.now()

    path = r"D:\基金数据\最新数据\Data_after4_{}_{}_{}.txt".format(today.year,today.month,today.day) # 自动获取
    # 要求输入列为：
    # SHORTNAME	FCODE	MGRID	MGRNAME	SHARP1	SHARP2	STDDEV1	STDDEV2	MAXRETRA1	GP	ZQ	HB	JZC	Week_up	Week_avg_up	Week_hs300_up	Week_rank	Week_competitors	Month_up	Month_avg_up	Month_hs300_up	Month_rank	Month_competitors	Year_up	Year_avg_up	Year_hs300_up	Year_rank	Year_competitors	NowYear_up	NowYear_avg_up	NowYear_hs300_up	NowYear_rank	NowYear_competitors	TwoYear_up	TwoYear_avg_up	TwoYear_hs300_up	TwoYear_rank	TwoYear_competitors	ThreeYear_up	ThreeYear_avg_up	ThreeYear_hs300_up	ThreeYear_rank	ThreeYear_competitors	FiveYear_up	FiveYear_avg_up	FiveYear_hs300_up	FiveYear_rank	FiveYear_competitors	fundStocks_GPDM_0	fundStocks_GPJC_0	fundStocks_JZBL_0	fundStocks_PCTNVCHG_0	fundStocks_GPDM_1	fundStocks_GPJC_1	fundStocks_JZBL_1	fundStocks_PCTNVCHG_1	fundStocks_GPDM_2	fundStocks_GPJC_2	fundStocks_JZBL_2	fundStocks_PCTNVCHG_2	fundStocks_GPDM_3	fundStocks_GPJC_3	fundStocks_JZBL_3	fundStocks_PCTNVCHG_3	fundStocks_GPDM_4	fundStocks_GPJC_4	fundStocks_JZBL_4	fundStocks_PCTNVCHG_4	fundStocks_GPDM_5	fundStocks_GPJC_5	fundStocks_JZBL_5	fundStocks_PCTNVCHG_5	fundStocks_GPDM_6	fundStocks_GPJC_6	fundStocks_JZBL_6	fundStocks_PCTNVCHG_6	fundStocks_GPDM_7	fundStocks_GPJC_7	fundStocks_JZBL_7	fundStocks_PCTNVCHG_7	fundStocks_GPDM_8	fundStocks_GPJC_8	fundStocks_JZBL_8	fundStocks_PCTNVCHG_8	fundStocks_GPDM_9	fundStocks_GPJC_9	fundStocks_JZBL_9	fundStocks_PCTNVCHG_9	BaoTuan	Payback	Days
    df = pd.read_table(path,converters={'FCODE':str,'MGRID':str},encoding='GB18030')

    print(path)

elif path_flag == 1:
    # B: 指定路径名

    path = r'D:\基金数据\最新数据\Data_after4_2021_4_2.txt'
    # 要求输入列为：
    # SHORTNAME	FCODE	MGRID	MGRNAME	SHARP1	SHARP2	STDDEV1	STDDEV2	MAXRETRA1	GP	ZQ	HB	JZC	Week_up	Week_avg_up	Week_hs300_up	Week_rank	Week_competitors	Month_up	Month_avg_up	Month_hs300_up	Month_rank	Month_competitors	Year_up	Year_avg_up	Year_hs300_up	Year_rank	Year_competitors	NowYear_up	NowYear_avg_up	NowYear_hs300_up	NowYear_rank	NowYear_competitors	TwoYear_up	TwoYear_avg_up	TwoYear_hs300_up	TwoYear_rank	TwoYear_competitors	ThreeYear_up	ThreeYear_avg_up	ThreeYear_hs300_up	ThreeYear_rank	ThreeYear_competitors	FiveYear_up	FiveYear_avg_up	FiveYear_hs300_up	FiveYear_rank	FiveYear_competitors	fundStocks_GPDM_0	fundStocks_GPJC_0	fundStocks_JZBL_0	fundStocks_PCTNVCHG_0	fundStocks_GPDM_1	fundStocks_GPJC_1	fundStocks_JZBL_1	fundStocks_PCTNVCHG_1	fundStocks_GPDM_2	fundStocks_GPJC_2	fundStocks_JZBL_2	fundStocks_PCTNVCHG_2	fundStocks_GPDM_3	fundStocks_GPJC_3	fundStocks_JZBL_3	fundStocks_PCTNVCHG_3	fundStocks_GPDM_4	fundStocks_GPJC_4	fundStocks_JZBL_4	fundStocks_PCTNVCHG_4	fundStocks_GPDM_5	fundStocks_GPJC_5	fundStocks_JZBL_5	fundStocks_PCTNVCHG_5	fundStocks_GPDM_6	fundStocks_GPJC_6	fundStocks_JZBL_6	fundStocks_PCTNVCHG_6	fundStocks_GPDM_7	fundStocks_GPJC_7	fundStocks_JZBL_7	fundStocks_PCTNVCHG_7	fundStocks_GPDM_8	fundStocks_GPJC_8	fundStocks_JZBL_8	fundStocks_PCTNVCHG_8	fundStocks_GPDM_9	fundStocks_GPJC_9	fundStocks_JZBL_9	fundStocks_PCTNVCHG_9	BaoTuan	Payback	Days
    df = pd.read_table(path,converters={'FCODE':str,'MGRID':str},encoding='GB18030')

D:\基金数据\最新数据\Data_after4_2021_5_21.txt

In [4]:
df.head(6)

,SHORTNAME,FCODE,MGRID,MGRNAME,SHARP1,SHARP2,STDDEV1,STDDEV2,MAXRETRA1,Payback,...,jd_19_1,nd_20,nd_19,nd_18,nd_17,nd_16,nd_15,nd_14,nd_13,Unnamed: 18
0,华宝标普油气上游股票人民币A,162411,"30200459,30732062","周晶,杨洋",1.007,0.011,49.450,49.450,44.45,-1.000,...,-10.42%,-30.31%,-9.57%,-23.84%,-15.41%,44.24%,-34.78%,-32.23%,18.39%,NaN
1,九泰行业优选混合C,008438,"30349054,30589084","吴祖尧,何昕",-1.000,-1.000,-1.000,-1.000,-1.00,-2.912,...,--,--,--,--,--,--,--,--,--,NaN
2,恒越核心精选混合C,007193,"30561920,30711642","高楠,叶佳",2.609,1.770,31.703,31.703,22.52,30.533,...,--,92.69%,--,--,--,--,--,--,--,NaN
3,华夏新兴消费混合A,005888,30063386,孙轶佳,2.411,1.982,26.002,26.002,19.61,13.833,...,-0.67%,104.08%,54.74%,--,--,--,--,--,--,NaN
4,浙商沪港深精选混合C,007369,30655735,贾腾,1.704,-1.000,25.717,25.717,17.08,40.812,...,--,50.29%,--,--,--,--,--,--,--,NaN
5,新华鑫动力灵活配置混合A,002083,30181758,刘彬,1.762,1.591,37.683,37.683,30.90,41.935,...,--,--,--,--,--,--,--,--,--,NaN

In [5]:
df.columns.values

array(['SHORTNAME', 'FCODE', 'MGRID', 'MGRNAME', 'SHARP1', 'SHARP2',
       'STDDEV1', 'STDDEV2', 'MAXRETRA1', 'Payback', 'Days', 'BaoTuan',
       '收益回撤比', 'GP', 'ZQ', 'HB', 'JZC', 'NowYear_up', 'NowYear_avg_up',
       'NowYear_hs300_up', 'NowYear_rank', 'NowYear_competitors',
       'Week_up', 'Week_avg_up', 'Week_hs300_up', 'Week_rank',
       'Week_competitors', 'Month_up', 'Month_avg_up', 'Month_hs300_up',
       'Month_rank', 'Month_competitors', 'Year_up', 'Year_avg_up',
       'Year_hs300_up', 'Year_rank', 'Year_competitors', 'TwoYear_up',
       'TwoYear_avg_up', 'TwoYear_hs300_up', 'TwoYear_rank',
       'TwoYear_competitors', 'ThreeYear_up', 'ThreeYear_avg_up',
       'ThreeYear_hs300_up', 'ThreeYear_rank', 'ThreeYear_competitors',
       'FiveYear_up', 'FiveYear_avg_up', 'FiveYear_hs300_up',
       'FiveYear_rank', 'FiveYear_competitors', 'fundStocks_GPDM_0',
       'fundStocks_GPJC_0', 'fundStocks_JZBL_0', 'fundStocks_PCTNVCHG_0',
       'fundStocks_GPDM_1', 'fundStocks_GPJC_1', 'fundStocks_JZBL_1',
       'fundStocks_PCTNVCHG_1', 'fundStocks_GPDM_2', 'fundStocks_GPJC_2',
       'fundStocks_JZBL_2', 'fundStocks_PCTNVCHG_2', 'fundStocks_GPDM_3',
       'fundStocks_GPJC_3', 'fundStocks_JZBL_3', 'fundStocks_PCTNVCHG_3',
       'fundStocks_GPDM_4', 'fundStocks_GPJC_4', 'fundStocks_JZBL_4',
       'fundStocks_PCTNVCHG_4', 'fundStocks_GPDM_5', 'fundStocks_GPJC_5',
       'fundStocks_JZBL_5', 'fundStocks_PCTNVCHG_5', 'fundStocks_GPDM_6',
       'fundStocks_GPJC_6', 'fundStocks_JZBL_6', 'fundStocks_PCTNVCHG_6',
       'fundStocks_GPDM_7', 'fundStocks_GPJC_7', 'fundStocks_JZBL_7',
       'fundStocks_PCTNVCHG_7', 'fundStocks_GPDM_8', 'fundStocks_GPJC_8',
       'fundStocks_JZBL_8', 'fundStocks_PCTNVCHG_8', 'fundStocks_GPDM_9',
       'fundStocks_GPJC_9', 'fundStocks_JZBL_9', 'fundStocks_PCTNVCHG_9',
       'pca_1', 'pca_2', 'pca_3', 'cluster', 'code', 'date', 'jd_20_4',
       'jd_20_3', 'jd_20_2', 'jd_20_1', 'jd_19_4', 'jd_19_3', 'jd_19_2',
       'jd_19_1', 'nd_20', 'nd_19', 'nd_18', 'nd_17', 'nd_16', 'nd_15',
       'nd_14', 'nd_13', 'Unnamed: 18'], dtype=object)

In [6]:
df1 = df.copy()

In [7]:
datalen = len(df1)
datalen

7546

In [8]:
# x = df1['SHARP1']
# x.dtypes
s = df1['SHARP1'][0]
s.dtype
# if x.dtypes == 'float64':
#     print('0')
# y = df1['nd_16']
# y.dtypes

dtype('float64')

In [9]:
def getSortedList(colName):
    x = df1[colName]
    x = x.replace('--',-100)
    if type(x[0]) == str: # 如果为字符串
        x1 = x.str.strip('%').astype(float)/100
        x_res = x1.sort_values(ascending=False).tolist() 
        return x_res
    if x.dtypes == 'float64':
        x_res = x.sort_values(ascending=False).tolist()
        return x_res

#     return x_res

In [10]:
def getSortedListASCE(colName):
    x = df1[colName]
    x = x.replace('--',-100)
    if type(x) == str:
        x1 = x.str.strip('%').astype(float)/100
        x_res = x1.sort_values(ascending=True).tolist()
        return x_res
    if x.dtypes == 'float64':
        x_res = x.sort_values(ascending=True).tolist()
        return x_res

#     return x_res

In [11]:
def getData(colName,index):
    x = df1[colName][index]
    if x == '--':
        return -1
    if type(x) == str:
        data = float(x.strip('%'))/100
        return data
    if x.dtype == 'float64':
        data = x
        return data
    else:
        return -1
    
#     return data

In [12]:
def searchInsert(nums, target):
    left = 0
    right = len(nums)
    while left < right:
        mid = (left + right) // 2

        if target < nums[mid]: ## 修改了大于小于号
            left = mid + 1 # 位置变化
        else:
            right = mid

    return left

In [13]:
def getRanking(SortedList,data):
#     index = searchInsert(SortedList,data) # 二分搜索查找插入位置，值可以不在列表内
    try:
        if data == -1:
            # return len(SortedList)
            return datalen
    #     rank = np.where(np.array(SortedList) == float(data))[0][0] # 值必须在列表内
        rank = SortedList.index(data)
        rank_ = int(rank) + 1
        return rank_
    except:
        return datalen
#     return index

In [14]:
# getRanking(m,t)

In [15]:
# jd_20_4_rank = []
# for i in range(len(df['FCODE'])):
#     tmp_SortedList = getSortedList('jd_20_4')
#     tmp_data = getData('jd_20_4',i)
#     tmp_Rank = getRanking(tmp_SortedList,tmp_data)
#     jd_20_4_rank.append(tmp_Rank)

In [16]:
# df1['jd_20_4_rank'] = jd_20_4_rank

In [17]:
df1 = df.copy()
df1.head(5)

,SHORTNAME,FCODE,MGRID,MGRNAME,SHARP1,SHARP2,STDDEV1,STDDEV2,MAXRETRA1,Payback,...,jd_19_1,nd_20,nd_19,nd_18,nd_17,nd_16,nd_15,nd_14,nd_13,Unnamed: 18
0,华宝标普油气上游股票人民币A,162411,"30200459,30732062","周晶,杨洋",1.007,0.011,49.450,49.450,44.45,-1.000,...,-10.42%,-30.31%,-9.57%,-23.84%,-15.41%,44.24%,-34.78%,-32.23%,18.39%,NaN
1,九泰行业优选混合C,008438,"30349054,30589084","吴祖尧,何昕",-1.000,-1.000,-1.000,-1.000,-1.00,-2.912,...,--,--,--,--,--,--,--,--,--,NaN
2,恒越核心精选混合C,007193,"30561920,30711642","高楠,叶佳",2.609,1.770,31.703,31.703,22.52,30.533,...,--,92.69%,--,--,--,--,--,--,--,NaN
3,华夏新兴消费混合A,005888,30063386,孙轶佳,2.411,1.982,26.002,26.002,19.61,13.833,...,-0.67%,104.08%,54.74%,--,--,--,--,--,--,NaN
4,浙商沪港深精选混合C,007369,30655735,贾腾,1.704,-1.000,25.717,25.717,17.08,40.812,...,--,50.29%,--,--,--,--,--,--,--,NaN

In [18]:
def insertRank(colname,df):
    tmp_RankList = []
    for i in range(len(df['FCODE'])):
        tmp_SortedList = getSortedList(colname)
        tmp_data = getData(colname,i)
        tmp_Rank = getRanking(tmp_SortedList,tmp_data)
        tmp_RankList.append(tmp_Rank)
    name = colname + '_rank'
    df[name] = tmp_RankList
#     return df

In [19]:
def insertRankASCE(colname,df):
    tmp_RankList = []
    for i in range(len(df['FCODE'])):
        tmp_SortedList = getSortedListASCE(colname)
        tmp_data = getData(colname,i)
        tmp_Rank = getRanking(tmp_SortedList,tmp_data)
        tmp_RankList.append(tmp_Rank)
    name = colname + '_rank'
    df[name] = tmp_RankList
#     return df

In [20]:
# 越大越好
insertRank('SHARP1',df1)
insertRank('SHARP2',df1)
insertRank('收益回撤比',df1)
insertRank('Days',df1)
insertRank('Payback',df1)

# 越小越好
insertRank('STDDEV1',df1)
insertRank('STDDEV2',df1)
insertRank('MAXRETRA1',df1) # 越大 排名越靠前 所以应该反过来

In [21]:
insertRank('jd_20_4',df1)
insertRank('jd_20_3',df1)
insertRank('jd_20_2',df1)
insertRank('jd_20_1',df1)

In [22]:
insertRank('jd_19_4',df1)
insertRank('jd_19_3',df1)
insertRank('jd_19_2',df1)
insertRank('jd_19_1',df1)

In [23]:
insertRank('nd_20',df1)
insertRank('nd_19',df1)
insertRank('nd_18',df1)
insertRank('nd_17',df1)

In [24]:
insertRank('nd_16',df1)
insertRank('nd_15',df1)
insertRank('nd_14',df1)
insertRank('nd_13',df1)

In [25]:
df_10 = df1[['MAXRETRA1','MAXRETRA1_rank']]
df_10[['MAXRETRA1_rank']]  = df_10[['MAXRETRA1_rank']].apply(pd.to_numeric)
df_10[['MAXRETRA1','MAXRETRA1_rank']].sort_values(by = ['MAXRETRA1'],ascending=False)

D:\Anaconda3\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

      MAXRETRA1  MAXRETRA1_rank
7532      44.52               1
0         44.45               2
7530      42.42               3
7531      42.28               4
733       40.53               5
...         ...             ...
352       -1.00            7546
4508      -1.00            7546
4498      -1.00            7546
4491      -1.00            7546
3773      -1.00            7546

[7546 rows x 2 columns]

In [26]:
df2 = df1.iloc[:,-16:-1]

In [27]:
df2.head(10)

,jd_20_4_rank,jd_20_3_rank,jd_20_2_rank,jd_20_1_rank,jd_19_4_rank,jd_19_3_rank,jd_19_2_rank,jd_19_1_rank,nd_20_rank,nd_19_rank,nd_18_rank,nd_17_rank,nd_16_rank,nd_15_rank,nd_14_rank
0,3,59,6341,1,5692,3792,5180,4787,5693,4654,2956,3093,4,1541,1288
1,8,3759,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546
2,1469,111,116,704,4954,1734,4920,7546,166,7546,7546,7546,7546,7546,7546
3,3360,78,155,381,4590,116,2432,2842,69,523,7546,7546,7546,7546,7546
4,1012,227,1977,1555,5399,841,2244,7546,1533,7546,7546,7546,7546,7546,7546
5,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546
6,7099,4,1372,418,3851,857,451,4456,19,644,3585,2657,7546,7546,7546
7,1411,107,111,701,4947,1715,4906,4237,163,3326,7546,7546,7546,7546,7546
8,7,3748,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546
9,6700,16,255,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546,7546

In [28]:
df1.columns.values

array(['SHORTNAME', 'FCODE', 'MGRID', 'MGRNAME', 'SHARP1', 'SHARP2',
       'STDDEV1', 'STDDEV2', 'MAXRETRA1', 'Payback', 'Days', 'BaoTuan',
       '收益回撤比', 'GP', 'ZQ', 'HB', 'JZC', 'NowYear_up', 'NowYear_avg_up',
       'NowYear_hs300_up', 'NowYear_rank', 'NowYear_competitors',
       'Week_up', 'Week_avg_up', 'Week_hs300_up', 'Week_rank',
       'Week_competitors', 'Month_up', 'Month_avg_up', 'Month_hs300_up',
       'Month_rank', 'Month_competitors', 'Year_up', 'Year_avg_up',
       'Year_hs300_up', 'Year_rank', 'Year_competitors', 'TwoYear_up',
       'TwoYear_avg_up', 'TwoYear_hs300_up', 'TwoYear_rank',
       'TwoYear_competitors', 'ThreeYear_up', 'ThreeYear_avg_up',
       'ThreeYear_hs300_up', 'ThreeYear_rank', 'ThreeYear_competitors',
       'FiveYear_up', 'FiveYear_avg_up', 'FiveYear_hs300_up',
       'FiveYear_rank', 'FiveYear_competitors', 'fundStocks_GPDM_0',
       'fundStocks_GPJC_0', 'fundStocks_JZBL_0', 'fundStocks_PCTNVCHG_0',
       'fundStocks_GPDM_1', 'fundStocks_GPJC_1', 'fundStocks_JZBL_1',
       'fundStocks_PCTNVCHG_1', 'fundStocks_GPDM_2', 'fundStocks_GPJC_2',
       'fundStocks_JZBL_2', 'fundStocks_PCTNVCHG_2', 'fundStocks_GPDM_3',
       'fundStocks_GPJC_3', 'fundStocks_JZBL_3', 'fundStocks_PCTNVCHG_3',
       'fundStocks_GPDM_4', 'fundStocks_GPJC_4', 'fundStocks_JZBL_4',
       'fundStocks_PCTNVCHG_4', 'fundStocks_GPDM_5', 'fundStocks_GPJC_5',
       'fundStocks_JZBL_5', 'fundStocks_PCTNVCHG_5', 'fundStocks_GPDM_6',
       'fundStocks_GPJC_6', 'fundStocks_JZBL_6', 'fundStocks_PCTNVCHG_6',
       'fundStocks_GPDM_7', 'fundStocks_GPJC_7', 'fundStocks_JZBL_7',
       'fundStocks_PCTNVCHG_7', 'fundStocks_GPDM_8', 'fundStocks_GPJC_8',
       'fundStocks_JZBL_8', 'fundStocks_PCTNVCHG_8', 'fundStocks_GPDM_9',
       'fundStocks_GPJC_9', 'fundStocks_JZBL_9', 'fundStocks_PCTNVCHG_9',
       'pca_1', 'pca_2', 'pca_3', 'cluster', 'code', 'date', 'jd_20_4',
       'jd_20_3', 'jd_20_2', 'jd_20_1', 'jd_19_4', 'jd_19_3', 'jd_19_2',
       'jd_19_1', 'nd_20', 'nd_19', 'nd_18', 'nd_17', 'nd_16', 'nd_15',
       'nd_14', 'nd_13', 'Unnamed: 18', 'SHARP1_rank', 'SHARP2_rank',
       '收益回撤比_rank', 'Days_rank', 'Payback_rank', 'STDDEV1_rank',
       'STDDEV2_rank', 'MAXRETRA1_rank', 'jd_20_4_rank', 'jd_20_3_rank',
       'jd_20_2_rank', 'jd_20_1_rank', 'jd_19_4_rank', 'jd_19_3_rank',
       'jd_19_2_rank', 'jd_19_1_rank', 'nd_20_rank', 'nd_19_rank',
       'nd_18_rank', 'nd_17_rank', 'nd_16_rank', 'nd_15_rank',
       'nd_14_rank', 'nd_13_rank'], dtype=object)

In [29]:
table1 = ['SHORTNAME','FCODE','date','cluster','MGRID','MGRNAME',
        'Days','Days_rank',
        'Payback','Payback_rank',
        'SHARP1','SHARP1_rank',
        'SHARP2','SHARP2_rank',
        'STDDEV1','STDDEV1_rank',
        'STDDEV2','STDDEV2_rank',
        'MAXRETRA1','MAXRETRA1_rank',
        'BaoTuan',
         '收益回撤比','收益回撤比_rank',
          'GP', 'ZQ', 'HB', 'JZC',
         'Week_up', 'Week_avg_up',
       'Week_hs300_up', 'Week_rank', 'Week_competitors', 'Month_up',
       'Month_avg_up', 'Month_hs300_up', 'Month_rank',
       'Month_competitors', 'Year_up', 'Year_avg_up', 'Year_hs300_up',
       'Year_rank', 'Year_competitors', 'NowYear_up', 'NowYear_avg_up',
       'NowYear_hs300_up', 'NowYear_rank', 'NowYear_competitors',
       'TwoYear_up', 'TwoYear_avg_up', 'TwoYear_hs300_up', 'TwoYear_rank',
       'TwoYear_competitors', 'ThreeYear_up', 'ThreeYear_avg_up',
       'ThreeYear_hs300_up', 'ThreeYear_rank', 'ThreeYear_competitors',
       'FiveYear_up', 'FiveYear_avg_up', 'FiveYear_hs300_up',
       'FiveYear_rank', 'FiveYear_competitors', 'fundStocks_GPDM_0',
       'fundStocks_GPJC_0', 'fundStocks_JZBL_0', 'fundStocks_PCTNVCHG_0',
       'fundStocks_GPDM_1', 'fundStocks_GPJC_1', 'fundStocks_JZBL_1',
       'fundStocks_PCTNVCHG_1', 'fundStocks_GPDM_2', 'fundStocks_GPJC_2',
       'fundStocks_JZBL_2', 'fundStocks_PCTNVCHG_2', 'fundStocks_GPDM_3',
       'fundStocks_GPJC_3', 'fundStocks_JZBL_3', 'fundStocks_PCTNVCHG_3',
       'fundStocks_GPDM_4', 'fundStocks_GPJC_4', 'fundStocks_JZBL_4',
       'fundStocks_PCTNVCHG_4', 'fundStocks_GPDM_5', 'fundStocks_GPJC_5',
       'fundStocks_JZBL_5', 'fundStocks_PCTNVCHG_5', 'fundStocks_GPDM_6',
       'fundStocks_GPJC_6', 'fundStocks_JZBL_6', 'fundStocks_PCTNVCHG_6',
       'fundStocks_GPDM_7', 'fundStocks_GPJC_7', 'fundStocks_JZBL_7',
       'fundStocks_PCTNVCHG_7', 'fundStocks_GPDM_8', 'fundStocks_GPJC_8',
       'fundStocks_JZBL_8', 'fundStocks_PCTNVCHG_8', 'fundStocks_GPDM_9',
       'fundStocks_GPJC_9', 'fundStocks_JZBL_9', 'fundStocks_PCTNVCHG_9',
        'jd_20_4','jd_20_4_rank',
          'jd_20_3','jd_20_3_rank',
          'jd_20_2', 'jd_20_2_rank',
          'jd_20_1', 'jd_20_1_rank',
          'jd_19_4', 'jd_19_4_rank',
          'jd_19_3','jd_19_3_rank',
          'jd_19_2','jd_19_2_rank',
          'jd_19_1', 'jd_19_1_rank',
          'nd_20', 'nd_20_rank',
          'nd_19','nd_19_rank',
          'nd_18','nd_18_rank',
          'nd_17', 'nd_17_rank',
          'nd_16', 'nd_16_rank',
          'nd_15','nd_15_rank',
          'nd_14', 'nd_14_rank',
          'nd_13','nd_13_rank']

df_table1 = df1[table1]

In [30]:
df_table1

,SHORTNAME,FCODE,date,cluster,MGRID,MGRNAME,Days,Days_rank,Payback,Payback_rank,...,nd_17,nd_17_rank,nd_16,nd_16_rank,nd_15,nd_15_rank,nd_14,nd_14_rank,nd_13,nd_13_rank
0,华宝标普油气上游股票人民币A,162411,05-19,6,"30200459,30732062","周晶,杨洋",-1.0,7546,-1.000,7546,...,-15.41%,3093,44.24%,4,-34.78%,1541,-32.23%,1288,18.39%,209
1,九泰行业优选混合C,008438,05-20,4,"30349054,30589084","吴祖尧,何昕",1280.0,4953,-2.912,7448,...,--,7546,--,7546,--,7546,--,7546,--,7546
2,恒越核心精选混合C,007193,05-20,6,"30561920,30711642","高楠,叶佳",1090.0,5443,30.533,462,...,--,7546,--,7546,--,7546,--,7546,--,7546
3,华夏新兴消费混合A,005888,05-20,9,30063386,孙轶佳,1946.0,3263,13.833,2596,...,--,7546,--,7546,--,7546,--,7546,--,7546
4,浙商沪港深精选混合C,007369,05-20,5,30655735,贾腾,755.0,6132,40.812,240,...,--,7546,--,7546,--,7546,--,7546,--,7546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7541,蜂巢添幂中短债C,007219,05-20,4,"30644579,30645926","廖新昌,李海涛",778.0,6076,3.185,6173,...,--,7546,--,7546,--,7546,--,7546,--,7546
7542,先锋汇盈纯债C,005893,05-20,0,30692022,杜旭,388.0,6811,1.324,6802,...,--,7546,--,7546,--,7546,--,7546,--,7546
7543,嘉实资源精选股票A,005660,05-20,9,"30073608,30494277","苏文杰,肖觅",1540.0,4244,21.839,1071,...,--,7546,--,7546,--,7546,--,7546,--,7546
7544,恒越研究精选混合A/B,006049,05-20,6,30561920,高楠,1090.0,5443,30.533,462,...,--,7546,--,7546,--,7546,--,7546,--,7546
7545,上投摩根慧选成长A,008314,05-20,1,30506861,李德辉,1581.0,4175,26.916,664,...,--,7546,--,7546,--,7546,--,7546,--,7546

In [31]:
# 保存路径名:
# savepath_csv = r"D:\基金数据\最新数据\Data_after3_3_18.csv" # 写死
# savepath_txt = r"D:\基金数据\最新数据\Data_after3_3_18.txt" # 写死
from datetime import datetime

today = datetime.now()

savepath_csv = r"D:\基金数据\最新数据\Data_after4.5_{}_{}_{}.csv".format(today.year,today.month,today.day) # 自动获取
savepath_txt = r"D:\基金数据\最新数据\Data_after4.5_{}_{}_{}.txt".format(today.year,today.month,today.day) # 自动获取
print(savepath_csv)
print(savepath_txt)

D:\基金数据\最新数据\Data_after4.5_2021_5_21.csv
D:\基金数据\最新数据\Data_after4.5_2021_5_21.txt

In [32]:
df_table1.to_csv(savepath_csv,encoding='GB18030')
df_table1.to_csv(savepath_txt,sep='\t',index=False,encoding='GB18030')