In [1]:
import pandas as pd

In [5]:
f_4_27 = open(r'D:\Scrapy爬虫\DA_scripts\fundcode_4_27.txt','r',encoding='utf-8')
df_4_27 =  pd.read_table(r'D:\Scrapy爬虫\DA_scripts\fundcode_4_27.txt',header=None,names=['code','name'],encoding='gbk',dtype={'code':str,'name':str})

In [24]:
f1 = open(r'D:\Scrapy爬虫\selenium_scripts\TianTianFund\data\天天基金FOF型基金数据.txt','r',encoding='utf-8')
f2 = open(r'D:\Scrapy爬虫\selenium_scripts\TianTianFund\data\天天基金LOF型基金数据.txt','r',encoding='utf-8')
f3 = open(r'D:\Scrapy爬虫\selenium_scripts\TianTianFund\data\天天基金QDII型基金数据.txt','r',encoding='utf-8')
f4 = open(r'D:\Scrapy爬虫\selenium_scripts\TianTianFund\data\天天基金股票型基金数据.txt','r',encoding='utf-8')
f5 = open(r'D:\Scrapy爬虫\selenium_scripts\TianTianFund\data\天天基金混合型基金数据.txt','r',encoding='utf-8')
f6 = open(r'D:\Scrapy爬虫\selenium_scripts\TianTianFund\data\天天基金债券型基金数据.txt','r',encoding='utf-8')
f7 = open(r'D:\Scrapy爬虫\selenium_scripts\TianTianFund\data\天天基金指数型基金数据.txt','r',encoding='utf-8')

In [35]:
df_1 = pd.read_table(r'D:\Scrapy爬虫\selenium_scripts\TianTianFund\data\天天基金FOF型基金数据.txt',header=None,names=['name','code'],encoding='utf-8',dtype={'name':str,'code':str})
df_2 = pd.read_table(r'D:\Scrapy爬虫\selenium_scripts\TianTianFund\data\天天基金LOF型基金数据.txt',header=None,names=['name','code'],encoding='utf-8',dtype={'name':str,'code':str})
df_3 = pd.read_table(r'D:\Scrapy爬虫\selenium_scripts\TianTianFund\data\天天基金QDII型基金数据.txt',header=None,names=['name','code'],encoding='utf-8',dtype={'name':str,'code':str})
df_4 = pd.read_table(r'D:\Scrapy爬虫\selenium_scripts\TianTianFund\data\天天基金股票型基金数据.txt',header=None,names=['name','code'],encoding='utf-8',dtype={'name':str,'code':str})
df_5 = pd.read_table(r'D:\Scrapy爬虫\selenium_scripts\TianTianFund\data\天天基金混合型基金数据.txt',header=None,names=['name','code'],encoding='utf-8',dtype={'name':str,'code':str})
df_7 = pd.read_table(r'D:\Scrapy爬虫\selenium_scripts\TianTianFund\data\天天基金指数型基金数据.txt',header=None,names=['name','code'],encoding='utf-8',dtype={'name':str,'code':str})

In [36]:
df_5

        name    code
0     广发价值领先  008099
1     南华丰淳混合  005296
2     南华丰淳混合  005297
3     广发多因子混  002943
4     金鹰改革红利  001951
...      ...     ...
4076  东吴配置优化  011707
4077  天弘益新混合  011408
4078  东方红启瑞三  011312
4079  大摩万众创新  011712
4080  前海开源沪港  011871

[4081 rows x 2 columns]

In [37]:
df_merge = df_1.append(df_2)

In [38]:
df_merge = df_merge.append(df_3)
df_merge = df_merge.append(df_4)
df_merge = df_merge.append(df_5)
df_merge = df_merge.append(df_7)

In [39]:
df_merge

        name    code
0     广发价值领先  008099
1     南华丰淳混合  005296
2     南华丰淳混合  005297
3     广发多因子混  002943
4     金鹰改革红利  001951
...      ...     ...
1100  湘财长顺混合  007013
1101  信达澳银量化  166110
1102  泰康睿福3月  008755
1103  招商创新增长  009360
1104  海富通欣荣混  519224

[7349 rows x 2 columns]

In [40]:
df_merge.drop_duplicates(subset=['name','code'],keep='first',inplace=True)

In [41]:
df_merge

        name    code
0     广发价值领先  008099
1     南华丰淳混合  005296
2     南华丰淳混合  005297
3     广发多因子混  002943
4     金鹰改革红利  001951
...      ...     ...
4076  东吴配置优化  011707
4077  天弘益新混合  011408
4078  东方红启瑞三  011312
4079  大摩万众创新  011712
4080  前海开源沪港  011871

[4081 rows x 2 columns]

In [45]:
df_merge.to_csv(r'D:\基金数据\最新数据\ttfundAll(NoZQ).txt',encoding='utf-8',index=False)

In [6]:
df_4_27

        code            name
0     162411  华宝标普油气上游股票人民币A
1     007844  华宝标普油气上游股票人民币C
2     162719   广发道琼斯石油指数人民币A
3     004243   广发道琼斯石油指数人民币C
4     003834        华夏能源革新股票
...      ...             ...
7541  011312    东方红启瑞三年持有混合B
7542  010174         英大智享债券A
7543  011712       大摩万众创新混合C
7544  010749      浙商创业板指数增强A
7545  011871  前海开源沪港深优势精选混合C

[7546 rows x 2 columns]

In [11]:
df_4_27.drop_duplicates(keep='first',inplace=True)

In [12]:
df_4_27

        code            name
0     162411  华宝标普油气上游股票人民币A
1     007844  华宝标普油气上游股票人民币C
2     162719   广发道琼斯石油指数人民币A
3     004243   广发道琼斯石油指数人民币C
4     003834        华夏能源革新股票
...      ...             ...
7541  011312    东方红启瑞三年持有混合B
7542  010174         英大智享债券A
7543  011712       大摩万众创新混合C
7544  010749      浙商创业板指数增强A
7545  011871  前海开源沪港深优势精选混合C

[7546 rows x 2 columns]